header {
    position: relative;
  }
  #navbar {
    position: absolute;
    right: 0px;
  }
  ul {
    display: flex;
  }
  li {
    display: inline;
    padding: 10px;
  }
  main {
    position: relative;
  }
  #company_logo {
    padding-left: 800px;
    padding-top: 200px;
  }
  #search_form {
    padding-left: 800px;
  }
  #search_bar {
    width: 270px;
  }
  #search_submit {
    margin: 10px;
    padding: 5px;
  }
  #lucky_submit {
    margin: 10px;
    padding: 5px;
  }